body {
 background-color: rgb(127, 246, 255); 
}
h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: burlywood;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}